{
    "presets": [
        [
            "next/babel",
            {
                "styled-jsx": {
                    "plugins": [
                        "@babel/plugin-transform-react-jsx"
                    ]
                }
            }
        ]
    ]
}