.sidebarContents {
  &__link {
    text-decoration: none;
    &__img {
      display: block;
      width: 30%;
      height: auto;
      margin: auto;
    }
    &__title {
      text-align: center;
      font-weight: 800;
      margin: 2px 0 2px 0;
      color: black;
    }
  }
}
